<div style="color: #8b1538; font-size: 32px">Pandas cheat sheet</div>

In [1]:
import numpy as np
import pandas as pd

<br>

# Basic operations

> Create empty DataFrame

In [2]:
df = pd.DataFrame(columns=['Nom', 'Pays'])
df

Empty DataFrame
Columns: [Nom, Pays]
Index: []

In [3]:
names, countries = ['Robert', 'Jean', 'Paul'], ['France', 'France', 'Allemagne']

for name, country in zip(names, countries):
    dico = {'Nom': name, 'Pays': country}
    df = df.append(dico, ignore_index=True)
df

      Nom       Pays
0  Robert     France
1    Jean     France
2    Paul  Allemagne

> Iterate through rows

In [4]:
for index, row in df.iterrows():
    print(index, row, sep='\t', end='\n\n')

0	Nom     Robert
Pays    France
Name: 0, dtype: object

1	Nom       Jean
Pays    France
Name: 1, dtype: object

2	Nom          Paul
Pays    Allemagne
Name: 2, dtype: object

<br>

# Add new column to a DataFrame from dictionary

<div style="color: #8b1538; font-size: 18px;">The dict keys need to be in the DataFrame index</div>

In [5]:
villes = ['Paris', 'Paris', 'Berlin']

dico = {}
for i, _ in df.iterrows():
    dico[i] = villes[i]

df['Ville'] = pd.Series(dico)
df

      Nom       Pays   Ville
0  Robert     France   Paris
1    Jean     France   Paris
2    Paul  Allemagne  Berlin

<br>

# Update DataFrame from another one

In [6]:
dico = {'Nom': ["Jean"], 'Pays': ["Russie"], 'Ville': ["Moscou"]}
df2 = pd.DataFrame(data=dico)
df2

    Nom    Pays   Ville
0  Jean  Russie  Moscou

<br>

In [7]:
df

      Nom       Pays   Ville
0  Robert     France   Paris
1    Jean     France   Paris
2    Paul  Allemagne  Berlin

In [8]:
for _, row in df2.iterrows():
    df.loc[df['Nom'] == row['Nom']] = [row]
df

      Nom       Pays   Ville
0  Robert     France   Paris
1    Jean     Russie  Moscou
2    Paul  Allemagne  Berlin

<br>

# Get rows from DataFrame at integer locations with **iloc**

> Get a single row - iloc return a pandas Series

In [13]:
df.iloc[0]

Nom      Robert
Pays     France
Ville     Paris
Name: 0, dtype: object

> Get a single or multiple row.s - iloc return a pandas DataFrame

In [14]:
df.iloc[[0, 1]]

      Nom    Pays   Ville
0  Robert  France   Paris
1    Jean  Russie  Moscou